@font-face {
    font-family: "font";
    src: url("../../assets/fonts/font.ttf");
}

@font-face {
    font-family: "test";
    src: url("../../assets/fonts/test.otf");
}

body {
    background-color: black;
    font-family: "font";
    color: white;
}

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin: 35px;
    margin-bottom: 15px;
}
 
em{
    color: lightgreen;
}
 
a{
    color: white;
    text-decoration-line: none;
}

a:hover {
    color: red;
} 

dt,
p,
ul, li a{
    font-family: "test";
    font-size: 30px;
}

dd,
dd ul{
    font-family: "test";
    font-size: 25px;
}

.para {
    margin: auto;
    width: 90%;
}

.para {
    margin-top: 10px;
    padding: 30px;
    border: solid 2px white;
}

.home{
    float: right;
    margin: 30px;
    font-size: 40px;
}

.old_enemy {
    height: 35px;
}

.ecran {
    display: block;
    margin: auto;
    width: 550px;
}

.portrait{
    float: left;
    display: inline;
    margin: 35px 35px 10px 5px;
    margin-bottom: 10px;
    border: solid 3px white;
    width:130px;
    image-rendering:pixelated;
}

/* TODO c'est nul pour le moment */
/* Oui */
.classes li{
    list-style-type: none;
}
.sous1,
.sous2,
.def {
    display: none;
}

ul li:hover .sous1 {
    display: block;
}

ul li li li:hover .sous2 {
    display: block;
}

div:hover .def {
    display: block;
}
