@font-face {
    font-family: "font";
    src: url("../../assets/fonts/font.ttf");
}

@font-face {
    font-family: "secondary";
    src: url("../../assets/fonts/secondary.otf");
}

body {
    background-color: black;
    font-family: "font";
    color: white;
}

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 40px;
    margin: 35px;
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration-line: none;
}

a.page {
    display: block;
    width: fit-content;
    margin: 50px auto;
    font-size: 60px;
}

a:hover {
    color: red;
}

p,
ul,
dt,
li a {
    font-family: "secondary";
    font-size: 30px;
}

dd,
dd ul {
    font-family: "secondary";
    font-size: 25px;
}

div > ul {
    margin-top: -25px;
}

#fond {
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.menu {
    margin-top: 100px;
}

.para {
    width: 90%;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border: solid 3px white;
}

.ecran {
    display: block;
    width: 550px;
    margin: 30px auto 20px auto;
    border: solid 3px white;
}

.portrait {
    float: left;
    display: inline;
    width: 130px;
    margin: 35px 35px 10px 5px;
    border: solid 3px white;
    image-rendering: pixelated;
}

.home {
    float: right;
    margin: 30px;
    font-size: 40px;
}

.bibliotheque {
    color: lightgreen;
}

.classe {
    color: cyan;
}

.classes li {
    width: fit-content;
}

.old_enemy,
.new_enemy {
    top: 7px;
    height: 30px;
    position: relative;
    image-rendering: pixelated;
}

#s1,
#s1_1,
#s1_1_1,
#s1_1_2,
#s2 {
    display: inline-block;
    font-size: 20px;
    user-select: none;
}

#s1:hover,
#s1_1:hover,
#s1_1_1:hover,
#s1_1_2:hover,
#s2:hover {
    color: red;
}

.s1,
.s1_1,
.s1_1_1,
.s1_1_2,
.s2 {
    display: none;
}
